
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#/homepage" class="brand-logo"><div><img src="assets/images/fav.png" width="40" height="40"style="vertical-align:middle"/> <span style="vertical-align:middle">IGS</span></div></a>

  </div>
</nav>

<main>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center">Indoor Growing Station</h1>
        <div class="row center">
          <h5 class="header col s12 ">Estação de cultivo interno para mudas e plantas de pequeno porte</h5>
        </div>
        <div class="row center">
          <a href="#/lastPhoto" class="btn-large waves-effect waves-light green">Estação</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img ng-src="assets/images/background1.jpg" alt="Unsplashed background"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">view_module</i></h2>
            <h5 class="center">Modular</h5>

            <p class="light">Criado para funcionar em conexão com mais unidades e produtos da linha e para fácil manuteção.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">local_florist</i></h2>
            <h5 class="center">Sustentável</h5>

            <p class="light">Feito de principalmente de madeira, a estrura principal pode ser desmontada e reciclada, e com plástico não tóxico pode cultivar alimentos para o dia-dia.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Fácil manutenção</h5>

            <p class="light">Uma vez instalado requer muito pouca manutenção, somente uma recarga de agua regularmente ajudar no controle de temperatura.</p>
          </div>
        </div>
      </div>
      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">Inovação no ramo de cultivo artificial de plantas e mudas.</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img ng-src="assets/images/background2.jpg" alt="Unsplashed background"></div>
      </div>

    </div>
  </div>
</main>
